Salesforce/main/default/flows/Home_Search_and_Create_Update_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_To_Account</name>
        <label>Navigate To Account</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Search_and_Create_or_Update_Customer_Account</name>
        <label>Search and Create or Update Customer Account</label>
        <locationX>578</locationX>
        <locationY>542</locationY>
        <actionName>AccountMappingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Successful_Search</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documentId</name>
            <value>
                <elementReference>CustomerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentType</name>
            <value>
                <elementReference>DocumentType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AccountId</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>code</assignToReference>
            <name>code</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Sucess</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Document_to_Blank</name>
        <label>Set Document to Blank</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Number.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_and_Create_or_Update_Customer_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Phone_to_Blank</name>
        <label>Set Phone to Blank</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_and_Create_or_Update_Customer_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Documento</name>
        <choiceText>Documento</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Telefono</name>
        <choiceText>Teléfono</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Search_By</name>
        <label>Search By</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Document_to_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Telephone</defaultConnectorLabel>
        <rules>
            <name>Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Documento</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Phone_to_Blank</targetReference>
            </connector>
            <label>Document</label>
        </rules>
    </decisions>
    <decisions>
        <name>Successful_Search</name>
        <label>Successful Search?</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>OtherErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sucess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_To_Account</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
        <rules>
            <name>Service_error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>400</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ServiceErrorMessage</targetReference>
            </connector>
            <label>Service error</label>
        </rules>
        <rules>
            <name>No_results</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>404</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Results_message</targetReference>
            </connector>
            <label>No results</label>
        </rules>
        <rules>
            <name>Failed_to_create_or_update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>600</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>601</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FailedToCreateOrUpdate</targetReference>
            </connector>
            <label>Failed to create or update</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DocumentTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DocumentType__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Home - Search and Create/Update Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Home - Search and Create/Update Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>EnterCustomerID</name>
        <label>Enter Customer ID</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_By</targetReference>
        </connector>
        <fields>
            <name>Buscar_cliente_por</name>
            <choiceReferences>Documento</choiceReferences>
            <choiceReferences>Telefono</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Buscar cliente por</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Document_Type</name>
            <choiceReferences>DocumentTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>1</stringValue>
            </defaultValue>
            <fieldText>Tipo de Documento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Documento</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Document_Number</name>
            <dataType>String</dataType>
            <fieldText>Número de Documento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Documento</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Número de Teléfono</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Telefono</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Buscar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FailedToCreateOrUpdate</name>
        <label>Failed to create or update</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Failed_to_create_or_update_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Sucedió un error al intentar buscar el cliente ingresado. Por favor contacte al Administrador de la plataforma o a su superior para informarle de la situación.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Results_message</name>
        <label>No Results Message</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Results_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Error: No se obtuvieron resultados para el documento o teléfono ingresado.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OtherErrorMessage</name>
        <label>Other Error Message</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Other_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Ha sucedido un error no identificado.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Por favor contacte al Administrador de la plataforma o a su superior para informarle de la situación.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ServiceErrorMessage</name>
        <label>Service Error Message</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Service_Error_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Error: No se pudo conectar con Bankitti&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EnterCustomerID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>123452</stringValue>
        </value>
    </variables>
    <variables>
        <name>PhoneType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>99</stringValue>
        </value>
    </variables>
    <variables>
        <name>Sucess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
