Salesforce/main/default/flows/Search_and_Create_Update_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Look_up_Account</name>
        <label>Look up Account</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <actionName>AccountMappingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Consulta_Error</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documentId</name>
            <value>
                <elementReference>DocumentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentType</name>
            <value>
                <elementReference>DocumentType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AccountId</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>code</assignToReference>
            <name>code</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Sucess</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Account</name>
        <label>Navigate To Account</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Document_in_Blank</name>
        <label>Set Document in Blank</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>DocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Number.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_up_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables</name>
        <label>Set Variables</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PhoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_up_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Documento</name>
        <choiceText>Documento</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Telefono</name>
        <choiceText>Teléfono</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Consulta_Error</name>
        <label>Consulta Error</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fue_Exitoso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sucess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_To_Account</targetReference>
            </connector>
            <label>Fue Exitoso</label>
        </rules>
    </decisions>
    <decisions>
        <name>Search_Type</name>
        <label>Search Type</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Document_in_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Telephone</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Search_for_Document_or_Telephone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Documento</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables</targetReference>
            </connector>
            <label>Document</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DocumentTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DocumentType__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>link</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/001Dx00001Cu70MIAR&quot;,  &quot;Alan&quot;, &apos;_self&apos;)</expression>
    </formulas>
    <interviewLabel>Search and Create/Update Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Search and Create/Update Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Buscar_cliente</name>
        <label>Buscar cliente</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_Type</targetReference>
        </connector>
        <fields>
            <name>Buscar_cliente_por</name>
            <choiceReferences>Documento</choiceReferences>
            <choiceReferences>Telefono</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Buscar cliente por</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Document_Type</name>
            <choiceReferences>DocumentTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>CEDULA DE IDENTIDAD PARAGUAYA</stringValue>
            </defaultValue>
            <fieldText>Tipo de Documento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Documento</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Document_Number</name>
            <dataType>String</dataType>
            <fieldText>Número de Documento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Documento</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Número de Teléfono</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Telefono</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Buscar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageText</name>
            <fieldText>&lt;p&gt;{!Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_cliente</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>13909383</stringValue>
        </value>
    </variables>
    <variables>
        <name>DocumentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>123452</stringValue>
        </value>
    </variables>
    <variables>
        <name>Sucess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
